body {
    background-image: url('../images/jungle.jpg');
    background-size: cover;
    background-position: center;


}

.purpose {
  text-align: center; 
  
    font-family: "Lexend Deca", sanserif;
    

}

